<div class="login-form">
    <br />
    <br />
    <h1>
        Verify Your Account
    </h1>
    <br />
    <p>
        Please, Verify your e-mail to complete your Registration
    </p>
    <br />
    <hr />
    <br />
    <br />
    <br />
    <br />

    <div class="row justify-content-center">
        <div class="col-md-4">
            <i class="fa fa-envelope grey no-underline" aria-hidden="true"></i>
            <p style="margin-top: 20px;">Verification link has been sent to your email, please verify your email.</p>
            <br />
            <p class="grey no-underline">
                E-mail: <a href="mailto:{{email}}" class="white">{{email}}</a>
            </p>
            <br />
            <br />
            <br />
            <br />

            <p>Didn't receive verification e-mail? <a class="red" (click)="resend()"
                    routerLinkActive="router-link-active">Resend</a></p>
        </div>
    </div>
</div>