<div class="login-form">
    <br />
    <br />
    <h1>
        {{'VERIFY-YOUR-ACCOUNT' | translate}}
    </h1>
    <br />
    <p>
        {{'VERIFY-YOUR-EMAIL' | translate}}
    </p>
    <br />
    <hr />
    <br />
    <br />
    <br />
    <br />

    <div class="row justify-content-center">
        <div class="col-md-4">
            <i class="fa fa-envelope grey no-underline" aria-hidden="true"></i>
            <p style="margin-top: 20px;">{{'VERIFY-YOUR-EMAIL-NOW' | translate}}</p>
            <br />
            <p class="grey no-underline">
                {{'EMAIL' | translate}}: <a href="mailto:{{email}}" class="white">{{email}}</a>
            </p>
            <br />
            <br />
            <br />
            <br />

            <p>{{"DIDNT-RECEIVE-YOUR-EMAIL" | translate}} <a class="red" (click)="resend()"
                    routerLinkActive="router-link-active">{{"RESEND" | translate}}</a></p>
        </div>
    </div>
</div>