<div class="login-form">
    <br />
    <br />
    <h1>
        {{"RESET-YOUR-PASSWORD" | translate}}
    </h1>
    <br />
    <p>
        {{"CHECK-EMAIL-RESET" | translate}}
    </p>
    <br />
    <hr />
    <br />
    <br />
    <br />
    <br />

    <div class="row justify-content-center">
        <div class="col-md-4">
            <i class="fa fa-envelope grey no-underline" aria-hidden="true"></i>
            <p style="margin-top: 20px;">{{"AN-EMAIL-RESET" | translate}}</p>
            <br />
            <p class="grey no-underline">
                {{"EMAIL" | translate}}:&nbsp;<a href="mailto:{{email}}" class="white">{{email}}</a>
            </p>
            <br />
            <br />
            <br />
            <br />

            <p>{{"DIDNT-RECEIVE-YOUR-EMAIL" | translate}}&nbsp;<a class="red" (click)="resend()"
                    routerLinkActive="router-link-active">{{"RESEND" | translate}}</a></p>
        </div>
    </div>
</div>