<div class="login-form">
    <br />
    <br />
    <h1>
        Reset Your Password
    </h1>
    <br />
    <p>
        Please, Check your e-mail to reset your password
    </p>
    <br />
    <hr />
    <br />
    <br />
    <br />
    <br />

    <div class="row justify-content-center">
        <div class="col-md-4">
            <i class="fa fa-envelope grey no-underline" aria-hidden="true"></i>
            <p style="margin-top: 20px;">An e-mail will be sent to your inbox with a reset password link, Please check
                your inbox</p>
            <br />
            <p class="grey no-underline">
                E-mail: <a href="mailto:alhassan@mail.com" class="white">mailto:alhassan@mail.com</a>
            </p>
            <br />
            <br />
            <br />
            <br />

            <p>Didn't receive verification e-mail? <a class="red" [routerLink]="['/reset-password']"
                    routerLinkActive="router-link-active">Resend</a></p>
        </div>
    </div>
</div>