<div class="row" #detailsContainer>
    <div class="col-md-5" style="position: relative;">
        <h1>
            {{lang === 'en' ? headerData.titleEn : headerData.titleAr}}
        </h1>
        <br />
        <h4>
            {{lang === 'en' ? headerData.bodyEn : headerData.bodyAr}}
        </h4>
        <a class="explore-more" (click)="scrollToDetails()">
            <h3 class="red" style="text-decoration: none !important;">
                Explore Courses <i class="fa fa-long-arrow-down" aria-hidden="true" style="vertical-align: middle;"></i>
            </h3>
        </a>
    </div>
    <div class="col-md-7">
        <div class="instructors-container">
            <div class="instructors-holder row">
                <!-- <div *ngFor="let item of instructorsArr" class="col" [style.backgroundImage]="'url('+(headerData.image)+')'"></div> -->
                <div class="col" [style.backgroundImage]="'url('+(headerData.image)+')'"></div>
            </div>
        </div>
    </div>
    <div class="details-container" *ngFor="let item of categories">
        <koun-category-section [list]="item?.courses" [title]="item?.name"></koun-category-section>
    </div>
</div>