<input [(ngModel)]="nameEn" placeholder="Course title En" name="nameEn" />
<input [(ngModel)]="nameAr" placeholder="Course title Ar" name="nameAr" />
Category
<select [(ngModel)]="categoryId">
    <option *ngFor="let item of categories" [value]="item.id">
        {{item.nameEn}} ({{item?.courses?.length}})
    </option>
</select>
Instructor
<select [(ngModel)]="instructorId">
    <option *ngFor="let item of instructors" [value]="item.id">
        {{item.nameEn}}
    </option>
</select>

Price
<input placeholder="Price" name="price" [(ngModel)]="price"/>


Description En
<input placeholder="Description En" name="descriptionEn" [(ngModel)]="descriptionEn"/>


Description Ar
<input placeholder="Description Ar" name="descriptionAr" [(ngModel)]="descriptionAr"/>


Overview En
<input placeholder="Overview En" name="overviewEn" [(ngModel)]="overviewEn"/>


Overview Ar
<input placeholder="Overview Ar" name="overviewAr" [(ngModel)]="overviewAr"/>


Status
<select placeholder="Status" [(ngModel)]="status">
    <option value="DRAFT">Draft</option>
    <option value="PUBLISHED">Published</option>
</select>

Image
<input type="file" placeholder="image" (change)="getFile($event, 'image')"/>
Cover Image
<input type="file" placeholder="coverImage" (change)="getFile($event, 'coverImage')"/>
Sample
<input type="file" placeholder="sample" (change)="getFile($event, 'sample')"/>
Trailer
<input type="file" placeholder="trailer" (change)="getFile($event, 'trailer')"/>

<button (click)="create()">Create</button>