<h2>Create Course</h2>
<hr />
<br />
<input [(ngModel)]="nameEn" placeholder="Course title En" name="nameEn" />
<input [(ngModel)]="nameAr" placeholder="Course title Ar" name="nameAr" />
Category
<select [(ngModel)]="categoryId">
    <option *ngFor="let item of categories" [value]="item.id">
        {{item.nameEn}} ({{item?.courses?.length}})
    </option>
</select>
Instructor
<select [(ngModel)]="instructorId">
    <option *ngFor="let item of instructors" [value]="item.id">
        {{item.nameEn}}
    </option>
</select>

Price
<input placeholder="Price" name="price" [(ngModel)]="price"/>


Description En
<input placeholder="Description En" name="descriptionEn" [(ngModel)]="descriptionEn"/>


Description Ar
<input placeholder="Description Ar" name="descriptionAr" [(ngModel)]="descriptionAr"/>


Overview En
<input placeholder="Overview En" name="overviewEn" [(ngModel)]="overviewEn"/>


Overview Ar
<input placeholder="Overview Ar" name="overviewAr" [(ngModel)]="overviewAr"/>


<!-- Status
<select placeholder="Status" [(ngModel)]="status">
    <option value="DRAFT">Draft</option>
    <option value="PUBLISHED">Published</option>
</select> -->

Image
<input type="file" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" placeholder="image" (change)="getFile($event, 'image')"/>
<div *ngIf="course?.image"><img src="{{course.image}}" width="auto" height="100px" /><br/><br/><hr style="display: block; width: 100%"/><br/><br/></div>
Cover Image
<input type="file" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" placeholder="coverImage" (change)="getFile($event, 'coverImage')"/>
<div *ngIf="course?.coverImage"><img src="{{course.coverImage}}" width="auto" height="100px" /><br/><br/><hr style="display: block; width: 100%"/><br/><br/></div>
Sample
<input type="file" accept="video/*" placeholder="sample" (change)="getFile($event, 'sample')"/>
<div *ngIf="course?.sample">
    
            <video *ngIf="course?.sample" width="auto" height="100%" controls>
                <source src="{{course.sample}}">
                Your browser does not support the video tag.
            </video>
    <br/><br/><hr style="display: block; width: 100%"/><br/><br/></div>
Trailer
<input type="file" accept="video/*" placeholder="trailer" (change)="getFile($event, 'trailer')"/>
<div *ngIf="course?.trailer">
    
            <video *ngIf="course?.trailer" width="auto" height="100%" controls>
                <source src="{{course.trailer}}">
                Your browser does not support the video tag.
            </video>
    <br/><br/><hr style="display: block; width: 100%"/><br/><br/></div>

<button (click)="create()">Create</button>