<div class="login-form">
    <br />
    <br />
    <h1>
        Reset Your Password
    </h1>
    <br />
    <p>
        Enter your e-mail address and we'll send you a link to reset your password. No worries!
    </p>
    <br />
    <hr />
    <div class="row justify-content-center">
        <form class="col-md-6" (ngSubmit)="resetPassword()" [formGroup]="formGroup">
            <div [ngClass]="{'input-error': formGroup?.dirty && formGroup?.get('email')?.invalid}">
                <label>
                    E-mail
                </label>
                <br />
                <input type="email" name="email" formControlName="email" placeholder="Example: someone@example.com" />
            </div>
            <br />
            <div *ngIf="formGroup?.dirty && formGroup?.invalid" class="form-errors">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                <ul>
                    <li *ngIf="formGroup.get('email')?.hasError('required')">Email is required</li>
                    <li *ngIf="formGroup.get('email')?.hasError('email')">Invalid Email</li>
                </ul>
            </div>
            <br />
            <button type="submit">Reset Password</button>
            <br />
            <br />
            <br />
        </form>
        <p>Remember your password? <a class="red" [routerLink]="['/login']" routerLinkActive="router-link-active">Log
                in</a></p>
        <br />
    </div>
</div>