<div class="login-form">
    <br />
    <br />
    <h1>
        {{"RESET-YOUR-PASSWORD" | translate}}
    </h1>
    <br />
    <p>
        {{"RESET-YOUR-PASSWORD-TEXT" | translate}}
    </p>
    <br />
    <hr />
    <div class="row justify-content-center">
        <form class="col-md-6" (ngSubmit)="resetPassword()" [formGroup]="formGroup">
            <div [ngClass]="{'input-error': formGroup?.dirty && formGroup?.get('email')?.invalid}">
                <label>
                    {{"EMAIL" | translate}}
                </label>
                <br />
                <input type="email" name="email" formControlName="email" placeholder="{{'EXAMPLE-EMAIL' | translate}}" />
            </div>
            <br />
            <div *ngIf="formGroup?.dirty && formGroup?.invalid" class="form-errors">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                <ul>
                    <li *ngIf="formGroup.get('email')?.hasError('required')">{{ 'EMAIL' | translate }} {{ 'IS-REQUIRED' | translate }}</li>
                    <li *ngIf="formGroup.get('email')?.hasError('email')">{{ 'INVALID-EMAIL' | translate }}</li>
                </ul>
            </div>
            <br />
            <button type="submit">{{"RESET-PASSWORD" | translate}}</button>
            <br />
            <br />
            <br />
        </form>
        <p>{{"REMEMBER-YOUR-PASSWORD" | translate}}&nbsp;<a class="red" [routerLink]="['/login']" routerLinkActive="router-link-active">{{"LOG-IN" | translate}}</a></p>
        <br />
    </div>
</div>