.login-form {
  text-align: center;
}
label {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}

.half-input {
  width: calc(50% - 8px);
  display: inline-block;
  margin: 0 4px;
}

.password-info {
  position: absolute;
  font-size: 35px;
  margin-top: 13px;
  right: -40px;
  cursor: pointer;
}
