<div class="login-form">
    <br />
    <br />
    <h1>
        Change Password
    </h1>
    <br />
    <p>
        Enter your new password
    </p>
    <br />
    <hr />
    <div class="row justify-content-center">
        <form class="col-md-6" (ngSubmit)="register()" [formGroup]="formGroup">
            <div class="relative"
                [ngClass]="{'input-error': formGroup?.dirty && (formGroup?.hasError('matching') || formGroup?.get('password')?.invalid || formGroup?.get('confirmPassword')?.invalid)}">
                <label>
                    New Password
                </label>
                <br />
                <i class="fa fa-exclamation-circle password-info" aria-hidden="true"
                    nzTooltipTitle="Password should be at least 6 characters, max 100 characters, should contain one uppercase, one lowercase and one special character"
                    nzTooltipPlacement="right" nz-tooltip></i>
                <input type="password" name="password" formControlName="password"
                    placeholder="Enter your new password" />
                <input type="password" name="confirmPassword" formControlName="confirmPassword"
                    placeholder="Confirm your new password" />
            </div>
            <br />
            <div *ngIf="formGroup?.dirty && formGroup?.invalid" class="form-errors">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                <ul>
                    <li *ngIf="formGroup.get('password')?.hasError('required')">Password is required</li>
                    <li *ngIf="formGroup.get('confirmPassword')?.hasError('required')">Please confirm your password</li>
                    <li *ngIf="formGroup?.hasError('matching')">Passwords don't match</li>
                </ul>
            </div>
            <br />
            <button type="submit">Save New Password</button>
            <br />
            <br />
            <br />
            <p>Remember your password? <a class="red" [routerLink]="['/login']"
                    routerLinkActive="router-link-active">Log
                    in</a></p>
        </form>
    </div>
</div>