<div class="login-form">
    <br />
    <br />
    <h1>
        {{'VERIFY-YOUR-ACCOUNT' | translate}}
    </h1>
    <br />
    <p>
        {{'VERIFY-YOUR-EMAIL' | translate}}
    </p>
    <br />
    <hr />
    <br />
    <br />
    <br />
    <br />

    <div class="row justify-content-center">
        <div class="col-md-4">
            <i class="fa fa-check-circle-o grey no-underline" aria-hidden="true"></i>
            <p style="margin-top: 20px;">{{'ACCOUNT-VERIFIED' | translate}}</p>
            <br />
            <br />
            <br />
            <br />
            <div class="row justify-content-center">
                <a class="link-btn col-md-10" [routerLink]="['/login']" routerLinkActive="router-link-active">{{"LOGIN-TO-YOUR-ACCOUNT" | translate}}</a>
            </div>
        </div>
    </div>
</div>