<div class="login-form">
    <br />
    <br />
    <h1>
        Verify Your Account
    </h1>
    <br />
    <p>
        Please, Verify your e-mail to complete your Registration
    </p>
    <br />
    <hr />
    <br />
    <br />
    <br />
    <br />

    <div class="row justify-content-center">
        <div class="col-md-4">
            <i class="fa fa-check-circle-o grey no-underline" aria-hidden="true"></i>
            <p style="margin-top: 20px;">Your account has been verified successfully</p>
            <br />
            <br />
            <br />
            <br />
            <div class="row justify-content-center">
                <a class="link-btn col-md-10" [routerLink]="['/login']" routerLinkActive="router-link-active">Login to
                    your account</a>
            </div>
        </div>
    </div>
</div>