<div class="row" #detailsContainer>
    <div class="col-md-5" style="position: relative;">
        <h1>
            {{isRTL ? course?.nameAr : course?.nameEn}}
        </h1>
        <hr style="float: left;" />
        <br />
        <h3>
            {{isRTL ? course?.instructor.nameAr : course?.instructor.nameEn}}
        </h3>
        <br />
        <p style="font-size: 22px;">
            {{isRTL ? course?.descriptionAr : course?.descriptionEn}}
        </p>
        <br />
        <br />
        <div class="row" style="width: 90%;">
            <div (click)="videoModalActive=true; overlayVideoTypeKey='trailer'; sendAnalytics('trailer')" class="col course-actions">
                <i class="fa fa-play-circle" aria-hidden="true"></i><br />
                <p>TRAILER</p>
            </div>
            <div (click)="videoModalActive=true; overlayVideoTypeKey='sample'; sendAnalytics('trailer')" class="col course-actions">
                <i class="fa fa-desktop" aria-hidden="true"></i><br />
                <p>SAMPLE</p>
            </div>
            <div class="col course-actions">
                <a (click)="shareModalActive = true; sendAnalytics('share')"><i class="fa fa-share-square-o" aria-hidden="true"></i><br />
                    <p>SHARE</p>
                </a>
            </div>
        </div>
        <br />
        <br />
        <a (click)="sendAnalytics('subscribe')" class="link-btn" style="display: block; width: 90%; text-align: center; font-size: 22px;">Subscribe
            Now</a>
        <br />
        <p class="grey no-underline" style="font-size: 22px;">{{course?.price}} USD for 6 months</p>
    </div>
    <div class="col-md-7">
        <div class="instructors-container">
            <div class="instructors-holder row">
                <div *ngIf="course?.image" class="col" [style.backgroundImage]="'url('+(course?.image)+')'"></div>
            </div>
        </div>
    </div>
    <div class="row about-course">
        <h2 style="margin-bottom: 30px;">
            <br />
            <br />
            About This Course
        </h2>
        <div class="row">
            <div class="col-md-8 video-part">
                <video *ngIf="course?.sample && videoTypeKey === 'sample'; sendAnalytics('sample')" width="100%" height="auto" controls
                    controlsList="nodownload">
                    <source src="{{course?.sample}}">
                    Your browser does not support the video tag.
                </video>
                <video *ngIf="course?.trailer && videoTypeKey === 'trailer'; sendAnalytics('trailer')" width="100%" height="auto"
                    controls controlsList="nodownload">
                    <source src="{{course?.trailer}}">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="col-md-4 course-breakdown">
                <div class="course-controls course-trailer" (click)="videoTypeKey='trailer'">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x red no-underline"></i>
                        <i class="fa fa-flag fa-stack-1x"
                            [ngClass]="{'fa-pause': videoTypeKey === 'trailer', 'fa-play': videoTypeKey !== 'trailer'}"></i>
                    </span><span style="margin-left: 20px;">Course Trailer</span>
                </div>
                <div class="course-controls course-sample" (click)="videoTypeKey='sample'"><span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x red no-underline"></i>
                        <i class="fa fa-flag fa-stack-1x"
                            [ngClass]="{'fa-pause': videoTypeKey === 'sample', 'fa-play': videoTypeKey !== 'sample'}"></i>
                    </span><span style="margin-left: 20px;">Course Sample</span></div>
                <div class="course-index">
                    <br />
                    <p style="margin-bottom: 10px;">Course Index</p>
                    <ul>
                        <li *ngFor="let item of lessons;" (click)="selectedLessonId = item.id">
                            <div>
                                <p class="lesson-title">{{isRTL ? item.nameAr : item.nameEn}} <span
                                        style="float: right;" class="lesson-expand-chevron fa"
                                        [ngClass]="{'fa-chevron-down': selectedLessonId !== item.id, 'fa-chevron-up': selectedLessonId === item.id}"></span>
                                </p>
                                <div *ngIf="selectedLessonId===item.id" class="index-details" style="color: #858585;">
                                    {{isRTL ? item.descriptionAr : item.descriptionEn}}</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="grey bold no-underline">
            <br />
            What will you learn
        </h2>
        <h5>
            {{isRTL ? course?.overviewAr : course?.overviewEn}}
        </h5>
        <h5 class="grey no-underline">
            <br />
            <span class="grey no-underline info-title">Instructor Name </span><span class="white no-underline"
                style="text-decoration: none !important;">{{isRTL ? course?.instructor.nameAr :
                course?.instructor.nameEn}}</span><br /><br />
            <span class="grey no-underline info-title">Course Content </span><span class="white no-underline"
                style="text-decoration: none !important;">{{lessons?.length}}
                Lessons</span><br /><br />
            <span class="grey no-underline info-title">Category </span><span (click)="sendAnalytics('category')" class="white no-underline"
                style="text-decoration: none !important;">{{isRTL ? course?.category.nameAr :
                course?.category.nameEn}}</span><br /><br />
        </h5>
    </div>
    <div class="row" *ngIf="relatedCourses?.length">
        <koun-category-section [list]="relatedCourses" [title]="'Related Courses'">
        </koun-category-section>
    </div>
    <div class="relatedCourses && row">
        <h2 class="bold no-underline">
            <br />
            <br />
            <br />
            Frequently Asked Questions
        </h2>
        <h3 class="grey no-underline" style="margin-bottom: 20px;">
            <br />
            Lorem Ipsum
        </h3>
        <div class="faq-item" *ngFor="let item of faq" (click)="item.selected = !item.selected">
            <div class="faq-question">{{item.question}} <span class="faq-expand-chevron fa"
                    [ngClass]="{'fa-chevron-down': !item.selected, 'fa-chevron-up': item.selected}"
                    style="float: right;"></span></div>
            <div *ngIf="item.selected" class="faq-answer">{{item.answer}}</div>
        </div>
    </div>
</div>

<koun-modal *ngIf="shareModalActive" (closeModal)="shareModalActive=false" [theme]="'light'" [size]="'small'">
    <div class="share-course">
        <h1 class="share-course-title">
            Share this course with your friends
        </h1>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-md-12">
                        <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{courseUrl}}"
                            class="share-btn linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-md-12">
                        <a target="_blank" href="https://www.facebook.com/share.php?u={{courseUrl}}"
                            class="share-btn facebook"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-md-12">
                        <a target="_blank" href="https://twitter.com/intent/tweet?url={{courseUrl}}"
                            class="share-btn twitter"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-md-12">
                        <a href="mailto:?body={{courseUrl}}" class="share-btn email"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row manual-share">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <!-- <div class="course-link">www.link.com/coursename</div> -->
                        <div class="course-link">{{courseUrl}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12" style="cursor: pointer" (click)="copyToClipboard()"><a
                            class="share-btn copy">Copy Link</a></div>
                </div>
            </div>
        </div>
    </div>
</koun-modal>
<div class="overlay-holder" *ngIf="videoModalActive">
    <i class="fa fa-times grey" (click)="videoModalActive = false"></i>
    <div class="overlay-content">
        <h2 class="share-course-title">
            course {{overlayVideoTypeKey}}
        </h2>
        <div class="row">
            <video *ngIf="course[overlayVideoTypeKey]" width="100%" height="auto" controls controlsList="nodownload">
                <source src="{{course[overlayVideoTypeKey]}}">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="row">
            <div class="col">
                <h1>
                    {{isRTL ? course?.nameAr : course?.nameEn}}
                </h1>
                <h3 class="grey no-underline">
                    {{isRTL ? course?.instructor.nameAr : course?.instructor.nameEn}}
                </h3>
            </div>
            <div class="col align-end">
                <a class="link-btn" (click)="sendAnalytics('subscribe')"
                    style="display: block; width: 90%; text-align: center; font-size: 22px;">Subscribe
                    Now</a>
                <p class="grey no-underline" style="font-size: 22px;">{{course?.price}} USD for 6 months</p>
            </div>
        </div>
    </div>
</div>