h1 {
    margin-top: 70px;
}
.instructors-container {
    padding-left: 100px;
}
.instructors-holder {
    height: 600px;
    margin-top: 50px;
    border-radius: 10px;
    overflow: hidden;
}
.instructors-holder div{
    background-size: cover;
    background-position: center;
}
.explore-more {
    position: absolute;
    bottom: 0;
}
.course-actions{
    font-size: 45px;
    text-align: center;
}
.course-actions p {
    font-size: 22px;
}
.course-controls {
    background-color: #272727;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.course-controls .fa-flag {
    font-size: 14px;
}
.info-title {
    width: 185px;
    display: inline-block;
}
ul {
    list-style: none;
    padding: none;
    background: #272727;
    border-radius: 10px;
    padding: 0;
    max-height: 235px;
    overflow-y: auto;
}
ul li {
    border-bottom: 1px solid #858585;
    padding: 10px 20px;
    cursor: pointer;
}
ul li:last-child {
    border-bottom: none;
}
.lesson-title {
    margin-bottom: 5px;
}
.faq-item {
    background-color: #272727;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 10px;
}
.faq-question {
    font-size: 22px;
    margin-bottom: 10px;
}
.share-btn {
    font-size: 40px;
    display: block;
    border-radius: 10px;
    text-align: center;
}
.linkedin {
    background: #0077B5;
}
.facebook {
    background: #1977F3;
}
.twitter {
    background: #04A9F3;
}
.email {
    background: #BEBEBE;
}
.share-course {
    padding: 0px 130px;
}
.copy {
    background: #AB2331;
    font-size: 16px;
    padding: 18px 0;
}
.course-link {
    color: #BEBEBE;
    border: 1px solid #BEBEBE;
    border-radius: 10px;
    font-size: 18px;
    height: 60px;
    padding: 14px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.manual-share {
    margin-top: 15px;
    margin-bottom: 50px;
}

.share-course h1{
    color: #000;
    margin-bottom: 30px;
    text-align: center;
}
.modal-container h2 {
    padding-right: 55px;
}
h1, h2, h3, h4, h5, h6, p, span {
    color: #fff;
}