<h2>Edit Header</h2>
<hr />
<br />
<input [(ngModel)]="header.titleEn" placeholder="Course title En" name="titleEn" />
<input [(ngModel)]="header.titleAr" placeholder="Course title Ar" name="titleAr" />

Body En
<input placeholder="Body En" name="bodyEn" [(ngModel)]="header.bodyEn"/>


Body Ar
<input placeholder="Body Ar" name="bodyAr" [(ngModel)]="header.bodyAr"/>

Image
<input type="file" placeholder="image" (change)="getFile($event, 'image')"/>
<div *ngIf="header?.image"><img src="{{header.image}}" width="auto" height="100px" /><br/><br/><hr style="display: block; width: 100%"/><br/><br/></div>

<button (click)="save()">Save</button>