<footer class="footer-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="row justify-content-center copyrights">
                <div class="col-xs-12 col-md rights-text">
                    <p class="">
                        {{ 'ALL-RIGHTS-RESERVED' | translate }} KOUNCEL 2022
                    </p>
                </div>
                <div class="col-xs-12 col-md-6 sm-holder">
                    <div class="row social-media">
                        <span class="col" style="font-size: 16px;">{{ 'FOLLOW-US' | translate }}</span>
                        <div class="col sm-item">
                            <a href="https://www.linkedin.com/company/kounsellaw/" target="_blank"><i
                                    class="fa fa-linkedin"></i></a>
                        </div>
                        <div class="col sm-item">
                            <a href="https://www.instagram.com/kouncellaw/" target="_blank"><i
                                    class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>