.login-form {
  text-align: center;
}
label {
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}

.half-input {
  width: calc(50% - 8px);
  display: inline-block;
  margin: 0 4px;
}

.form-errors {
  position: relative;
}

.form-errors i.fa.fa-exclamation-circle {
  position: absolute;
  top: 0;
  left: -20px;
}

.password-info {
  position: absolute;
  font-size: 35px;
  margin-top: 45px;
  right: -40px;
  cursor: pointer;
}
.show-hide-password {
  position: absolute;
  top: 21px;
  right: 10px;
  cursor: pointer;
  color: #a3a3a3 !important;
  font-size: 20px;
}
.password-holder {
  position: relative;
  clear: both;
}

input[name$=assword] {
  padding-right: 35px;  
}
