<div class="login-form">
    <br />
    <br />
    <h1>
        {{ 'CREATE-ACCOUNT' | translate }}
    </h1>
    <br />
    <p>
        {{ 'PLEASE-ENTER-ALL-YOUR-DATA' | translate }}
    </p>
    <br />
    <hr />
    <div class="row justify-content-center">
        <form class="col-md-6" (ngSubmit)="register()" [formGroup]="formGroup">
            <div
                [ngClass]="{'input-error': (formGroup?.get('firstName')?.touched || formGroup?.get('lastName')?.touched) && formGroup?.touched && (formGroup?.get('firstName')?.invalid || formGroup?.get('lastName')?.invalid)}">
                <label>
                    {{ 'NAME' | translate }}
                </label>
                <br />
                <div class="half-input">
                    <input name="firstName" formControlName="firstName" placeholder="{{ 'FIRST-NAME' | translate }}" />
                </div>
                <div class="half-input">
                    <input name="lastName" formControlName="lastName" placeholder="{{ 'LAST-NAME' | translate }}" />
                </div>
            </div>
            <div
                [ngClass]="{'input-error': formGroup?.touched && formGroup?.get('email')?.touched && formGroup?.get('email')?.invalid}">
                <label>
                    {{ 'EMAIL' | translate }}
                </label>
                <br />
                <input type="email" name="email" formControlName="email" placeholder="{{ 'EXAMPLE-EMAIL' | translate }}" />
            </div>
            <div>
                <br />
                <div class="half-input"
                    [ngClass]="{'input-error': formGroup?.touched && formGroup?.get('birthdate')?.touched && formGroup?.get('birthdate')?.invalid}">
                    <label>
                        {{ 'DATE-OF-BIRTH' | translate }}
                    </label>
                    <input name="birthdate" type="date" formControlName="birthdate" placeholder="dd/mm/yyyy" />
                </div>
                <div class="half-input"
                    [ngClass]="{'input-error': formGroup?.touched && formGroup?.get('gender')?.touched && formGroup?.get('gender')?.invalid}">
                    <label>
                        {{ 'GENDER' | translate }}
                    </label>
                    <select name="gender" formControlName="gender">
                        <option value="Male">{{ 'MALE' | translate }}</option>
                        <option value="Female">{{ 'FEMALE' | translate }}</option>
                    </select>
                </div>
            </div>
            <div
                [ngClass]="{'input-error': formGroup?.touched && formGroup?.get('country')?.touched && formGroup?.get('country')?.invalid}">
                <label>
                    {{ 'COUNTRY' | translate }}
                </label>
                <br />
                <select name="country" formControlName="country">
                    <option value=""></option>
                    <option *ngFor="let item of countries" [value]="item.code">{{isRTL ? item.nameAr : item.nameEn}}</option>
                </select>
            </div>
            <div
                [ngClass]="{'input-error': formGroup?.touched && formGroup?.get('profession')?.touched && formGroup?.get('profession')?.invalid}">
                <label>
                    {{ 'PROFESSION' | translate }}
                </label>
                <br />
                <select name="profession" formControlName="profession">
                    <option value=""></option>
                    <option *ngFor="let item of professions" [value]="item.id">{{isRTL ? (item.nameAr || item.name) : (item.nameEn || item.name)}}</option>
                </select>
            </div>
            <div class="relative"
                [ngClass]="{'input-error': (formGroup?.get('password')?.touched || formGroup?.get('confirmPassword')?.touched) && formGroup?.touched && (formGroup?.hasError('matching') || formGroup?.get('password')?.invalid || formGroup?.get('confirmPassword')?.invalid)}">
                <label>
                    {{ 'PASSWORD' | translate }}
                </label>
                <br />
                <i class="fa fa-exclamation-circle password-info" aria-hidden="true"
                    nzTooltipTitle="{{ 'PASSWORD-CRITERIA' | translate }}"
                    nzTooltipPlacement="right" nz-tooltip></i>
                <div class="password-holder">
                    <input [type]="showHidePassword ? 'password' : 'text'" name="password" formControlName="password"
                        placeholder="{{ 'ENTER-YOUR-PASSWORD' | translate }}" />
                    <i class="fa show-hide-password" [ngClass]="{'fa-eye': showHidePassword, 'fa-eye-slash': !showHidePassword}" (click)="showHidePassword = !showHidePassword"></i>
                </div>
                <div class="password-holder">
                    <input [type]="showHidePassword ? 'password' : 'text'" name="confirmPassword" formControlName="confirmPassword"
                        placeholder="{{ 'CONFIRM-YOUR-PASSWORD' | translate }}" />
                    <i class="fa show-hide-password" [ngClass]="{'fa-eye': showHidePassword, 'fa-eye-slash': !showHidePassword}" (click)="showHidePassword = !showHidePassword"></i>
                </div>
            </div>
            <br />
            <div *ngIf="formGroup?.touched && formGroup?.invalid" class="form-errors">
                <ul>
                    <li *ngIf="formGroup.get('firstName')?.touched && formGroup.get('firstName')?.hasError('required')">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        {{ 'FIRST-NAME' | translate }} {{ 'IS-REQUIRED' | translate }}</li>
                    <li *ngIf="formGroup.get('lastName')?.touched && formGroup.get('lastName')?.hasError('required')">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        {{ 'LAST-NAME' | translate }} {{ 'IS-REQUIRED' | translate }}</li>
                    <li *ngIf="formGroup.get('email')?.touched && formGroup.get('email')?.hasError('required')">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        {{ 'EMAIL' | translate }} {{ 'IS-REQUIRED' | translate }}</li>
                    <li *ngIf="formGroup.get('birthdate')?.touched && formGroup.get('birthdate')?.hasError('required')">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        {{ 'DATE-OF-BIRTH' | translate }} {{ 'IS-REQUIRED' | translate }}</li>
                    <li *ngIf="formGroup.get('gender')?.touched && formGroup.get('gender')?.hasError('required')">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        {{ 'GENDER' | translate }} {{ 'IS-REQUIRED' | translate }}</li>
                    <li *ngIf="formGroup.get('country')?.touched && formGroup.get('country')?.hasError('required')">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        {{ 'COUNTRY' | translate }} {{ 'IS-REQUIRED' | translate }}</li>
                    <li *ngIf="formGroup.get('profession')?.touched && formGroup.get('profession')?.hasError('required')">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        {{ 'PROFESSION' | translate }} {{ 'IS-REQUIRED' | translate }}</li>
                    <li *ngIf="formGroup.get('password')?.touched && formGroup.get('password')?.hasError('required')">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        {{ 'PASSWORD' | translate }} {{ 'IS-REQUIRED' | translate }}</li>
                    <li *ngIf="formGroup.get('confirmPassword')?.touched && formGroup.get('confirmPassword')?.hasError('required')">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        {{ 'PLEASE-CONFIRM-PASSWORD' | translate }}</li>
                    <li *ngIf="formGroup.get('matching')?.touched && formGroup?.hasError('matching')">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        {{ 'PASSWWORDS-DONT-MATCH' | translate }}</li>
                    <li *ngIf="formGroup.get('password')?.touched && formGroup.get('password')?.hasError('pattern')">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        {{ 'PASSWWORD-DOESNT-MATCH-PATTERN' | translate }}</li>
                    <li *ngIf="formGroup.get('email')?.touched && formGroup.get('email')?.hasError('email')">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        {{ 'INVALID-EMAIL' | translate }}
                    </li>
                </ul>
            </div>
            <br />
            <button type="submit">{{ 'CREATE-ACCOUNT' | translate }}</button>
            <br />
            <br />
            <br />
            <p>{{ 'ALREADY-HAVE-AN-ACCOUNT' | translate }}? <a class="red" [routerLink]="['/login']"
                    routerLinkActive="router-link-active">{{ 'LOG-IN' | translate }}</a></p>
            <br />
            <p class="grey no-underline">
                {{ 'BY-SIGNING' | translate }} <a class="white" href="#"> {{ 'END-USER' | translate }},</a> <a class="white" href="#"> {{ 'TERMS-AND-CONDITIONS' | translate }}</a>
                {{ 'AND' | translate }} <a class="white" href="#"> {{ 'PRIVACY-POLICY' | translate }} </a> {{ 'COOKIE-USAGE' | translate }}
            </p>
        </form>
    </div>
</div>