.login-form {
  text-align: center;
}

.show-hide-password {
  position: absolute;
  top: 21px;
  right: 10px;
  cursor: pointer;
  color: #a3a3a3 !important;
  font-size: 20px;
}
.password-holder {
  position: relative;
  clear: both;
}

input[name$=assword] {
  padding-right: 35px;  
}