<div class="login-form">
    <br />
    <br />
    <h1>
        {{ 'LOG-IN' | translate }}
    </h1>
    <br />
    <p>
        {{'PLEASE-ENTER-YOUR-DATA-TO-LOGIN-TO-YOUR-ACCOUNT' | translate}}
    </p>
    <br />
    <hr />
    <div class="row justify-content-center">
        <form class="col-md-6" (ngSubmit)="login()" [formGroup]="formGroup">
            <div
                [ngClass]="{'input-error': formGroup?.dirty && formGroup?.get('email')?.invalid && formGroup?.get('email')?.dirty}">
                <label>
                    {{ 'EMAIL' | translate }}
                </label>
                <br />
                <input type="email" name="email" formControlName="email"
                    placeholder="{{'EXAMPLE-EMAIL' | translate }}" />
            </div>
            <br />
            <div
                [ngClass]="{'input-error': formGroup?.dirty && formGroup?.get('password')?.invalid && formGroup?.get('password')?.dirty}">
                <label>
                    {{ 'PASSWORD' | translate }}
                </label>
                <br />
                <input type="password" name="password" formControlName="password"
                    placeholder="{{ 'ENTER-YOUR-PASSWORD' | translate }}" />
            </div>
            <br />
            <div *ngIf="formGroup?.dirty && formGroup?.invalid" class="form-errors">
                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                <ul>
                    <li *ngIf="formGroup.get('email')?.dirty && formGroup.get('email')?.hasError('required')">{{'EMAIL'
                        | translate}}
                        {{'REQUIRED' | translate}}</li>
                    <li *ngIf="formGroup.get('password')?.dirty && formGroup.get('password')?.hasError('required')">
                        {{'PASSWORD' | translate}} {{'REQUIRED' | translate}}</li>
                    <li *ngIf="formGroup.get('email')?.dirty && formGroup.get('email')?.hasError('email')">{{
                        'INVALID-EMAIL' | translate }}
                    </li>
                </ul>
            </div>
            <br />
            <button type="submit">{{ 'LOG-IN' | translate }}</button>
            <br />
            <br />
            <br />
        </form>
        <p>{{'DONT-HAVE-ACCOUNT' | translate}}&nbsp;<a class="red" [routerLink]="['/register']"
                routerLinkActive="router-link-active">{{'REGISTER' | translate}}
                {{'NOW' | translate}}</a></p>
        <br />
        <a class="grey" [routerLink]="['/reset-password']"
            routerLinkActive="router-link-active">{{'FORGOT-YOUR-PASSWORD' | translate}}</a>
    </div>
</div>