body {
  direction: rtl;
  font-family: gess2l, poppins;
}
label {
  float: right;
  text-align: right !important;
}
.form-errors {
  text-align: right;
}
.admin-controls {
  left: 5px;
  right: unset !important;
}

h1 {
  font-family: gess2l, poppins;
}
.ant-list-rtl .ant-list-pagination,
.ant-menu {
  text-align: right;
}

/* responsiveness */
@media (max-width: 992px) {
  .header-buttons > div:first-child {
    text-align: right;
  }
  .header-buttons > div:last-child {
    text-align: left;
  }
}
