body {
  direction: rtl;
  font-family: gess2l, poppins;
}
label {
  float: right;
  text-align: right !important;
}
.form-errors {
  text-align: right;
}
.admin-controls {
  left: 5px;
  right: unset !important;
}

h1 {
  font-family: gess2l, poppins;
}
.ant-list-rtl .ant-list-pagination,
.ant-menu {
  text-align: right;
}

.create-btn {
  left: 5px;
  right: unset !important;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: unset !important;
  left: 10px;
  width: auto;
}
.modal-container h2 {
  padding-right: unset;
  padding-left: 55px;
}
.modal-container hr {
  float: right;
}

.see-all, .faq-expand-chevron, .lesson-expand-chevron {
  float: left !important;
}
.see-all .fa {
  transform: rotate(180deg);
}
.left-btn {
  left: -15px !important;
}
.right-btn {
  right: -40px !important;
}

/* responsiveness */
@media (max-width: 992px) {
  .header-buttons > div:first-child {
    text-align: right;
  }
  .header-buttons > div:last-child {
    text-align: left;
  }
}
